// variables color
$primary-color: #fffdf5;
$secondary-color:  #53BF2A;
$shadow-color: #C9C9C9;
$gray-color: #989898;

//variables font-size
$big-font-size: 40px;
$middle-font-size: 25px;
$normal-font-size: 20px;
$small-font-size: 15px;
