
.main-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  .page-body {
    display: flex;
    flex-direction: row;
    flex:1;
    background-color: $primary-color;
    border-bottom: 1px solid $shadow-color;
    .tag-select {
      min-width: 300px;
      padding-left: 10px;
      padding-top: 40px;
      border-right: 1px solid $shadow-color;
      .main-tag {
        color:$gray-color;
        font-size: $middle-font-size;
        margin-left: 10px;
        margin-top: 10px;
        .empty-space{
          height:20px;
        }
        .selection {
          height: 50px;
          display: flex;
          align-items: center;
          margin-left: 30px;
          flex-direction: row;
          border-radius: 10px;
          margin-right: 10px;
          margin: 10px 10px 10px 30px;
          cursor: pointer;
          &:hover{
            background-color: $secondary-color;
            i,
            .text-selection{
               color:$primary-color;
            }
        }
          i {
            color:$gray-color;
            width: 50px;
          }
          .text-selection {
            color:$gray-color;
            font-size: $normal-font-size;
            margin-left: 10px;
          }
        }
        .active-selection{
            background-color:rgba(92, 92, 92, 0.402);
            i,
            .text-selection{
               color:$primary-color;
            }
          }
      }
      .other-tag{
        @extend .main-tag;
        min-height: 300px;
      }
    }
    .page-container{
      width: 100%;
    }
  }
}
